#boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.box {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline wavy;
}

hr {
    border: 2px solid black;
    margin-bottom: 3rem;
}